/vagrantProject/.vagrant

/vms/*.box
/vagrantProject/software/grails-2.2.2.zip
/proj.sublime-workspace
/proj.sublime-project

/.idea/.name
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/encodings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml
/grailsSplitTest.iml
